@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  body {
    background: #fafafa;
  }
  
  .music-card {
    margin: 100px auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    width: 240px;
    height: 390px;
  }
  .music-card .image img {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 240px;
    width: 240px;
  }
  .music-card .image:after {
    height: 60px;
    content: "";
    top: 180px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgba(221, 65, 127, 0), #DD417F);
  }
  .music-card .wave {
    position: absolute;
    height: 580px;
    width: 600px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -70%;
    margin-top: -130%;
    border-radius: 40%;
    background: radial-gradient(#B01DE8, #F34235);
    -webkit-animation: spin 3000ms infinite linear;
            animation: spin 3000ms infinite linear;
  }
  .music-card .wave:nth-child(2) {
    top: 10px;
    -webkit-animation: spin 4000ms infinite linear;
            animation: spin 4000ms infinite linear;
  }
  .music-card .wave:nth-child(3) {
    top: 10px;
    -webkit-animation: spin 5000ms infinite linear;
            animation: spin 5000ms infinite linear;
  }
  .music-card .info {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .music-card .info .title {
    font-size: 1.3em;
    font-weight: 500;
    font-family: "Playfair display";
    color: rgb(202, 10, 138);
    margin-bottom: 8px;
  }
  .music-card .info .artist {
    font-family: "Source sans pro";
    color: #460096;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .box_it{
      display: flex;
      flex-direction: row;
      align-items: left;
      justify-content: space-around;
  }
  